Repository huv1k/website: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,ts,mts,astro,md,mdx,json,yml,yaml,css}"
      run: bunx oxfmt -c .oxlintrc.json {staged_files}
    lint:
      glob: "*.{js,ts,mts,astro}"
      run: bunx oxlint -c .oxlintrc.json {staged_files}

feat: add dark mode support with toggle
  astro.config.mts
  src/components/BaseHead.astro
  src/components/footer.astro
  src/components/header.astro
  src/components/open-to-work.astro
  src/components/speaking.astro
  src/components/theme-toggle.astro
  src/components/work-experience.astro
  src/components/work.astro
  src/layouts/layout.astro
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
  src/pages/index.astro
  src/pages/til/[...slug].astro
  src/pages/til/index.astro
  src/styles/global.css
Due: format, lint

chore: apply oxfmt to astro.config.mts
  astro.config.mts
Due: format, lint

feat: add dark mode support (#1404)
  astro.config.mts
  src/components/BaseHead.astro
  src/components/footer.astro
  src/components/header.astro
  src/components/open-to-work.astro
  src/components/speaking.astro
  src/components/theme-toggle.astro
  src/components/work-experience.astro
  src/components/work.astro
  src/layouts/layout.astro
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
  src/pages/index.astro
  src/pages/til/[...slug].astro
  src/pages/til/index.astro
  src/styles/global.css
Due: format, lint

fix(seo): serve URLs without trailing slash to restore indexed pages
  astro.config.mts
  wrangler.json
Due: format, lint

fix(seo): drop trailing slash to restore deindexed pages (#1405)
  astro.config.mts
  wrangler.json
Due: format, lint

feat(analytics): track social, contact, speaking and theme clicks with Seline
  CLAUDE.md
  src/components/footer.astro
  src/components/open-to-work.astro
  src/components/speaking.astro
  src/components/theme-toggle.astro
  src/env.d.ts
Due: format, lint

chore: apply oxfmt formatting to env.d.ts
  src/env.d.ts
Due: format, lint

feat(analytics): track social, contact, speaking and theme clicks (#1409)
  CLAUDE.md
  src/components/footer.astro
  src/components/open-to-work.astro
  src/components/speaking.astro
  src/components/theme-toggle.astro
  src/env.d.ts
Due: format, lint

feat(cv): add printable CV sourced from cv.md
  cv.md
  src/pages/cv.astro
Due: format, lint

feat(cv): add printable /cv page sourced from cv.md (#1415)
  cv.md
  src/pages/cv.astro
Due: format, lint

fix(cv): correct contact link text to huvik.dev
  cv.md
Due: format

fix(cv): correct contact link text to huvik.dev (#1424)
  cv.md
Due: format

feat(cv): add guild/oncall bullets and email contact
  cv.md
Due: format

feat(cv): add guild/oncall bullets and email contact (#1425)
  cv.md
Due: format

feat(home): add projects section with untanglecode
  src/components/projects.astro
  src/pages/index.astro
Due: format, lint

feat(home): add projects section with untanglecode (#1426)
  src/components/projects.astro
  src/pages/index.astro
Due: format, lint

fix build
  src/lib/og-template.ts
  src/lib/og-template.tsx
  src/pages/og-image.png.ts
Due: format, lint

feat: fix canonical tags
  src/pages/rss.xml.js
Due: format, lint

feat: fix canonical tags (#1517)
  src/pages/rss.xml.js
Due: format, lint

fix(cloudflare): serve real HTML from worker on astro 7
  astro.config.mts
  bun.lock
  package.json
Due: format, lint

chore(tooling): unify oxlint/oxfmt config and enable Astro linting
  .oxfmtrc.json
  astro.config.mts
  lefthook.yml
  package.json
  src/content/blog/improve-prototyping-speed-of-prisma.mdx
  src/content/blog/my-first-post.mdx
  src/content/blog/six-years-at-productboard.mdx
  src/env.d.ts
  src/lib/og-template.ts
  src/pages/og-image.png.ts
  src/pages/rss.xml.js
  src/styles/global.css
Due: format, lint

chore(tooling): unify oxlint/oxfmt config and enable Astro linting (#1519)
  .oxfmtrc.json
  astro.config.mts
  lefthook.yml
  package.json
  src/content/blog/improve-prototyping-speed-of-prisma.mdx
  src/content/blog/my-first-post.mdx
  src/content/blog/six-years-at-productboard.mdx
  src/env.d.ts
  src/lib/og-template.ts
  src/pages/og-image.png.ts
  src/pages/rss.xml.js
  src/styles/global.css
Due: format, lint

fix: restore missing text spacing and markdown list styles
  src/components/work.astro
  src/styles/global.css
Due: format, lint

fix: restore missing text spacing and markdown list styles (#1520)
  src/components/work.astro
  src/styles/global.css
Due: format, lint

fix: wrong date in Productboard post
  src/content/blog/six-years-at-productboard.mdx
Due: format

fix: wrong date in Productboard post (#1526)
  src/content/blog/six-years-at-productboard.mdx
Due: format

feat: add self employment section
  cv.md
  src/components/work-experience.astro
  src/components/work.astro
Due: format, lint

Migrate conductor.json to .conductor/settings.toml
  .conductor/settings.toml
  conductor.json
Due: format

Improve configuration
  .conductor/settings.toml
Due: none

Migrate conductor.json to .conductor/settings.toml (#1551)
  .conductor/settings.toml
  conductor.json
Due: format

fix: normalize SEO canonical URLs
  src/components/BaseHead.astro
Due: format, lint

Fix canonical URLs for prerendered pages (#1566)
  src/components/BaseHead.astro
Due: format, lint

feat: improve mobil layout
  src/components/footer.astro
  src/components/header.astro
  src/components/open-to-work.astro
  src/components/speaking.astro
  src/components/work-experience.astro
  src/layouts/layout.astro
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
  src/pages/til/[...slug].astro
  src/pages/til/index.astro
Due: format, lint

feat: improve mobil layout (#1588)
  src/components/footer.astro
  src/components/header.astro
  src/components/open-to-work.astro
  src/components/speaking.astro
  src/components/work-experience.astro
  src/layouts/layout.astro
  src/pages/blog/[...slug].astro
  src/pages/blog/index.astro
  src/pages/til/[...slug].astro
  src/pages/til/index.astro
Due: format, lint

fix(seo): permanently redirect HTML aliases
  public/_redirects
Due: none

Fix permanent redirects for legacy HTML URLs (#1604)
  public/_redirects
Due: none

fix(analytics): proxy Seline through first-party hostname
  src/components/BaseHead.astro
Due: format, lint

fix(analytics): proxy Seline through first-party hostname (#1616)
  src/components/BaseHead.astro
Due: format, lint
