Repository huv1k/website: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: bunx prettier --check {staged_files}

lint:
  run: bunx oxlint -c .oxlintrc.json {staged_files}

feat: add author detail
  astro.config.mts
  public/lukas-huvar.jpg
  src/content.config.ts
  src/content/blog/improve-prototyping-speed-of-prisma.mdx
  src/content/blog/my-first-post.mdx
  src/pages/blog/[...slug].astro
  src/pages/til/[...slug].astro
Due: format, lint

til: working with remote docker hosts
  src/content/til/working-with-remote-docker-hosts.mdx
Due: format

feat: add og image
  bun.lock
  package.json
  src/components/BaseHead.astro
  src/layouts/layout.astro
  src/pages/og-image.png.ts
Due: format, lint

feat: add favicon
  public/favicon.svg
Due: none

feat: better styles and fix for OG image prerendering
  src/components/BaseHead.astro
  src/components/footer.astro
  src/pages/og-image.png.ts
  src/styles/global.css
Due: format, lint

feat: migrate to oxfmt
  .prettierrc
  CLAUDE.md
  astro.config.mts
  lefthook.yml
  package.json
  src/consts.ts
  src/content.config.ts
  src/content/blog/improve-prototyping-speed-of-prisma.mdx
  src/content/blog/my-first-post.mdx
  src/content/til/working-with-remote-docker-hosts.mdx
  src/env.d.ts
  src/pages/og-image.png.ts
  src/pages/rss.xml.js
  src/scripts/copy-code.ts
  src/styles/global.css
  worker-configuration.d.ts
Due: format, lint

feat: improve Seo and improve posts details
  lefthook.yml
  public/apple-touch-icon.svg
  public/robots.txt
  src/components/BaseHead.astro
  src/consts.ts
  src/content/blog/improve-prototyping-speed-of-prisma.mdx
  src/content/blog/my-first-post.mdx
  src/pages/blog/[...slug].astro
  src/pages/index.astro
  src/pages/til/[...slug].astro
Due: format, lint

bug: fix wrong lock file
  bun.lock
Due: none

fix: shorten title tag to under 60 characters for SEO
  src/consts.ts
Due: format, lint

bug: fix copy code button
  astro.config.mts
  lefthook.yml
  src/layouts/layout.astro
  src/styles/global.css
Due: format, lint

feat: shipping code from plane 11586 above sea
  src/components/speaking.astro
  src/components/work-experience.astro
  src/components/work.astro
  src/pages/index.astro
Due: format, lint

docs: add JSDoc to core modules with non-obvious logic
  src/components/BaseHead.astro
  src/components/header-link.astro
  src/components/work-experience.astro
  src/consts.ts
  src/content.config.ts
  src/pages/og-image.png.ts
Due: format, lint

docs: add JSDoc to core modules (#1345)
  src/components/BaseHead.astro
  src/components/header-link.astro
  src/components/work-experience.astro
  src/consts.ts
  src/content.config.ts
  src/pages/og-image.png.ts
Due: format, lint

Fix issues with Astro migration
  astro.config.mts
  wrangler.json
Due: format

Fix missing brand icons
  package.json
  pnpm-lock.yaml
  public/github.svg
  public/x.svg
  src/components/footer.astro
Due: format, lint

Update Productboard end date, add conductor config, and improve article spacing
  astro.config.mts
  conductor.json
  lefthook.yml
  package.json
  src/components/work.astro
  src/consts.ts
  src/content.config.ts
  src/content/blog/improve-prototyping-speed-of-prisma.mdx
  src/content/blog/my-first-post.mdx
  src/content/til/working-with-remote-docker-hosts.mdx
  src/env.d.ts
  src/pages/blog/[...slug].astro
  src/pages/og-image.png.ts
  src/pages/rss.xml.js
  src/pages/til/[...slug].astro
  src/scripts/copy-code.ts
  src/styles/global.css
  worker-configuration.d.ts
Due: format, lint

Fix KV namespace deployment by referencing existing namespace ID
  wrangler.json
Due: format

Remove pnpm packageManager field
  package.json
Due: format

Set bun as packageManager
  package.json
Due: format

Fix grammar in Prisma work experience description
  src/components/work.astro
Due: format, lint

Update Productboard end date, add conductor config, improve spacing (#1392)
  astro.config.mts
  conductor.json
  lefthook.yml
  package.json
  src/components/work.astro
  src/consts.ts
  src/content.config.ts
  src/content/blog/improve-prototyping-speed-of-prisma.mdx
  src/content/blog/my-first-post.mdx
  src/content/til/working-with-remote-docker-hosts.mdx
  src/env.d.ts
  src/pages/blog/[...slug].astro
  src/pages/og-image.png.ts
  src/pages/rss.xml.js
  src/pages/til/[...slug].astro
  src/scripts/copy-code.ts
  src/styles/global.css
  worker-configuration.d.ts
  wrangler.json
Due: format, lint

Remove pnpm-lock.yaml to fix Renovate artifact updates
  pnpm-lock.yaml
Due: format

Remove leftover pnpm-lock.yaml (#1394)
  pnpm-lock.yaml
Due: format

add 6 years at Productboard
  src/components/YouTube.astro
  src/content/blog/six-years-at-productboard.mdx
  src/styles/global.css
Due: format, lint

fix(lefthook): allow oxfmt to skip unmatched files in pre-commit
  lefthook.yml
Due: format

update Productboard work experience and Prisma role
  src/components/work.astro
Due: format, lint

refresh homepage bio with AI focus and full-stack experience
  lefthook.yml
  src/pages/index.astro
Due: format, lint

polish work experience copy and add Next.js / GraphQL Playground notes
  src/components/work.astro
Due: format, lint

Update Productboard work experience and Prisma role (#1398)
  lefthook.yml
  src/components/work.astro
  src/pages/index.astro
Due: format, lint

Fix grammar and typos in blog posts
  src/content/blog/improve-prototyping-speed-of-prisma.mdx
  src/content/blog/my-first-post.mdx
  src/content/blog/six-years-at-productboard.mdx
Due: format

Apply oxfmt formatting to frontmatter quotes
  src/content/blog/improve-prototyping-speed-of-prisma.mdx
  src/content/blog/my-first-post.mdx
Due: format

Fix grammar and typos in blog posts (#1399)
  src/content/blog/improve-prototyping-speed-of-prisma.mdx
  src/content/blog/my-first-post.mdx
  src/content/blog/six-years-at-productboard.mdx
Due: format

fix(og): switch OG image endpoint to cf-workers-og
  bun.lock
  package.json
  src/lib/og-template.tsx
  src/pages/og-image.png.ts
Due: format, lint

style(og): apply oxfmt formatting
  src/pages/og-image.png.ts
Due: format, lint

fix(og): switch OG image endpoint to cf-workers-og (#1400)
  bun.lock
  package.json
  src/lib/og-template.tsx
  src/pages/og-image.png.ts
Due: format, lint

fix(og): provide explicit width/height on avatar img
  src/lib/og-template.tsx
Due: none

fix(og): inline avatar via ASSETS binding as base64
  src/pages/og-image.png.ts
Due: format, lint

fix(og): provide explicit width/height on avatar img (#1401)
  src/lib/og-template.tsx
  src/pages/og-image.png.ts
Due: format, lint

feat: add "open to work" banner with mailto link
  src/components/open-to-work.astro
  src/layouts/layout.astro
Due: format, lint

feat: add "open to work" banner with mailto link (#1403)
  src/components/open-to-work.astro
  src/layouts/layout.astro
Due: format, lint

Path conditions:
  format: any of: *.{js,ts,astro,md,mdx,json,yml,yaml}
  lint: any of: *.{js,ts,astro}
